/.DS_Store
/.cursor*.xcuserstate
/.toDoRemotoCopia.xcodeproj/project.xcworkspace/xcuserdata/daniel.sanz.xcuserdatad/UserInterfaceState.xcuserstate
/toDoRemotoCopia.xcodeproj/project.xcworkspace/xcuserdata/daniel.sanz.xcuserdatad/UserInterfaceState.xcuserstate